# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
venv/
.envrc

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Data files (avoid large raw data unless needed)
data/raw/
# but you can include data/processed/ if small enough

# VSCode / IDEs
.vscode/
.idea/

# MacOS
.DS_Store
